<section class="contacts">
    <div class="contacts-header">
      <h2><a name="contacts"></a>Контакты</h2>
    </div>
    <div class="contacts-content">
      <div class="contacts-content-text-left">
        <p>Заказ такси - 719</p>
        <p>Вопросы по сервису: +375 33 432 88 91</p>
        <p>Вопросы по работе: +375 33 452 44 11</p>
      </div>
      <div class="contacts-content-text-right">
        <p>Общие вопросы - taxirea@mail.ru</p>
        <p>Тех. поддержка - taxireatex@mail.ru</p>
        <div class="social">
          <img src="../../../assets/image/social/insta.png" />
          <img src="../../../assets/image/social/twitter.png" />
          <img src="../../../assets/image/social/vk.png" />
          <img src="../../../assets/image/social/you.png" />
        </div>
      </div>
    </div>
</section>