<footer class="footer">
    <h2 class="footer__text">Наши партнеры</h2>
    <div class="footer__partner">
      <img class="footer__image" src="../../assets/image/footer/partner1.png" />
      <img class="footer__image" src="../../assets/image/footer/partner2.png" />
      <img class="footer__image" src="../../assets/image/footer/partner3.png" />
      <img class="footer__image" src="../../assets/image/footer/partner4.png" />
    </div>
    <div class="footer__copurate">
      <img class="footer__image" src="../../assets/image/icon/logo.png" />
      <h4 class="footer__text">Taxirea</h4>
      <p class="footer__text">© ООО «Такси Лайм» 2021</p>
    </div>
</footer>