<header class="header">
  <div class="header__flexbox">
    <div class="header__logo--left" routerLink="/">
      <img
        class="header__image"
        src="../../../assets/image/icon/logo.png"
        width="62px"
        height="62px"
        alt="logo"
      />
      <h2 class="header__label">Taxeria</h2>
    </div>
    <!-- navigation -->
    <app-navigation></app-navigation>
    <div
      class="header__authorization-active"
      [ngStyle]="{
        display: activeUser == 0 ? 'block' : 'none'
      }"
    >
      <button class="header__button" routerLink="/authorizatoin">Войти</button>
    </div>
    <div
      class="header__authorization-disable"
      [ngStyle]="{
        display: activeUser != 0 ? 'block' : 'none'
      }"
    >
      <p id="p1" class="header__paragraph" routerLink="/personalOffice">
        {{ activeUser.login }}
      </p>
      <button class="header__button" (click)="logOut()">Выйти</button>
    </div>
  </div>
</header>
