.header__navigation{
                height: 70px;
                overflow: hidden;
                padding-top: 23px;
                a{
                    display: inline;
                    padding: 25px ;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-right: 10px;
                    font-size: 20px;
                    text-decoration: none;
                    color: #fff;
                    @media (max-width: 1024px) {
                        font-size: 16px;
                        margin-right: 3px;
                        padding-top: 35px;
                        padding-bottom: 30px;
                      }
                    &:hover{
                        background-color: #4D9ECA;
                    }
                }
}