$divBackgroundColor: #91B4C7;
$divHeaderColor: #48758E;
$navBarHover: #95C8E3;

$h1FontFamily:'Marko One', serif;
$textFontFamily:'Roboto', sans-serif;
$fontColorLight: #fff;
$fontColorDark: #000;

$buttonColor:#FFFFFF;
$buttonHover:#EEEEEE;
$buttonClick:#CCCCCC;

$inputBorder:#000000;
$inputHoverBorder:#00639A;
$inputClickBorder: #48758E;
$inputErrorButtonColor: #FF8F8F; 
