<section class="traffic">
    <div class="traffic-header">
      <h2><a name="traffic"></a>Тарифы</h2>
    </div>
    <div class="traffic-content">
      <div class="traffic-content-city">
        <h3>По городу</h3>
        <table>
          <tr>
            <td>Тип</td>
            <td>Бюджет</td>
            <td>Комфорт</td>
            <td>Люкс</td>
          </tr>
          <tr>
            <td>Цена за км</td>
            <td>0.90</td>
            <td>1.00</td>
            <td>1.30</td>
          </tr>
          <tr>
            <td>Простой мин</td>
            <td>0.90</td>
            <td>1.00</td>
            <td>1.40</td>
          </tr>
          <tr>
            <td>Посадка</td>
            <td>1.20</td>
            <td>2.00</td>
            <td>2.50</td>
          </tr>
        </table>
      </div>
      <div class="traffic-content-cityfrom">
        <h3>За городом</h3>
        <table>
          <tr>
            <td>Тип</td>
            <td>Бюджет</td>
            <td>Комфорт</td>
            <td>Люкс</td>
          </tr>
          <tr>
            <td>Цена за км</td>
            <td>0.90</td>
            <td>1.00</td>
            <td>1.30</td>
          </tr>
          <tr>
            <td>Простой мин</td>
            <td>0.90</td>
            <td>1.00</td>
            <td>1.40</td>
          </tr>
          <tr>
            <td>Посадка</td>
            <td>1.20</td>
            <td>2.00</td>
            <td>2.50</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
  <a name="work"></a>