<section class="review">
    <div class="review-header">
      <h2><a name="review"></a>Отзывы</h2>
    </div>
    <div class="review-content">
      <div class="slider">
        <div class="slider-line">
          <div class="slider-line-item">
            <div class="user">
              <img src="../../../assets/image/photo.png" />
              <h2>Костя</h2>
              <div class="stars">
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
              </div>
            </div>
            <p>
              Отличный сервис, приятные водители, высокая скорость работы.
              Снимаю перед вами шляпу. Всем сов...
            </p>
          </div>
          <div class="slider-line-item">
            <div class="user">
              <img src="../../../assets/image/photo2.png" />
              <h2>Саня</h2>
              <div class="stars">
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
              </div>
            </div>
            <p>
              Неплохой сервис, но в эпоху существования яндекс такси не вижу
              в нем смысла. Не скажу ничего плохого, все на...
            </p>
          </div>
          <div class="slider-line-item">
            <div class="user">
              <img src="../../../assets/image/photo3.png" />
              <h2>Витя</h2>
              <div class="stars">
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/starUnactive.png" />
              </div>
            </div>
            <p>
              Как-то у нам с друзьями повезло заехать в незнакомый город, да
              еще и на сломанной машине, так вот как р...
            </p>
          </div>
          <div class="slider-line-item">
            <div class="user">
              <img src="../../../assets/image/photo.png" />
              <h2>Вилат</h2>
              <div class="stars">
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
              </div>
            </div>
            <p>
              Отличный сервис, приятные водители, высокая скорость работы.
              Снимаю перед вами шляпу. Всем сов...
            </p>
          </div>
          <div class="slider-line-item">
            <div class="user">
              <img src="../../../assets/image/photo2.png" />
              <h2>Паша</h2>
              <div class="stars">
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
              </div>
            </div>
            <p>
              Отличный сервис, приятные водители, высокая скорость работы.
              Снимаю перед вами шляпу. Всем сов...
            </p>
          </div>
          <div class="slider-line-item">
            <div class="user">
              <img src="../../../assets/image/photo2.png" />
              <h2>Паша</h2>
              <div class="stars">
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
                <img src="../../../assets/image/icon/star.png" />
              </div>
            </div>
            <p>
              Отличный сервис, приятные водители, высокая скорость работы.
              Снимаю перед вами шляпу. Всем сов...
            </p>
          </div>
        </div>
      </div>
      <img
        class="slider-prev"
        src="../../../assets/image/icon/leftArrow.png"
        width="100px"
        height="100px"
      />
      <img
        class="slider-next"
        src="../../../assets/image/icon/rightArrow.png"
        width="100px"
        height="100px"
      />
    </div>
</section>